*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
*.podspec
xcuserdata
/iosApp/Pods/Target Support Files/local/local.debug.xcconfig
/iosApp/Pods/Local Podspecs/local.podspec.json
/iosApp/Pods/Target Support Files/local/local.release.xcconfig
/iosApp/Pods/Target Support Files/remote/remote.debug.xcconfig
/iosApp/Pods/Local Podspecs/remote.podspec.json
/iosApp/Pods/Target Support Files/remote/remote.release.xcconfig
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/iosApp/iosApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
